body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
		background-image: url(bg.webp);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
    backface-visibility: visible;			
}

.container {
    background-color: #111010;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #0a0b0e;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(245, 233, 233);
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  background-color: transparent;
  padding: 50px;
  border-radius: 300px;
  box-shadow: 0 0 10px rgba((135, 20, 20, 0.1)).1;
  width: 350px;
  max-width: 90%;

}

h1 {
  text-align: center;
  color: #ddd;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #28a745;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius:50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  background-color: #dc3545;
  padding: 4px 8px;
  border-radius:50%;
}